<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :course_name %><br>
    <%= f.text_field :course_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :stage_count %><br>
    <%= f.number_field :stage_count, class: "form-control" %>
  </div>
  <%= f.submit class: "btn" %>
<% end %>
